/* ----------------------------------------------------- */
@media (min-width: 1920px) and (max-width: 2560px) {

}
@media (min-width: 1440px) and (max-width: 1920px) {
	.call-to-work .call-to-work_layers h4 {
		font-size: 20px;
		line-height: 15px;
		margin-bottom: 16px;
	}
	.call-to-work .call-to-work_layers .call-to-work__checkbox {
		margin-bottom: 19px;
	}
}
@media (min-width: 1200px) and (max-width: 1440px) {
	.call-to-work .call-to-work_layers h4 {
		font-size: 22px;
		line-height: 29px;
		margin-bottom: 16px;
	}
	.call-to-work .call-to-work_layers .call-to-work__checkbox {
		margin-bottom: 19px;
	}
	.call-to-work_layers form {
		width: 95%;
	}
}
@media (max-width: 1199px) {
	.header__numbers-viber{
		display: none;
	}
	.header .container > .row {
		justify-content: space-around;
	}
	.header .header__numbers a {
		font-size: 12px;
	}
	.connection-for-yt .connection-for-yt__row > div img {
		padding-top: 8em;
	}
	.connection-for-yt .connection-for-yt__block-form .connection-for-yt__checkbox label {
		font-size: 10px;
	}
	.footer .header__numbers-viber {
		display: block;
	}
	.footer .header__numbers-viber a {
		padding: 5px 7px;
	}
	.conditions__row h4 {
		font-size: 20px;
		line-height: 34px;
	}
	.conditions__row ul li:first-child {
		margin-bottom: 13px;
	}
	.conditions__row ul li:last-child {
		font-size: 12px;
	}
	.call-to-work .call-to-work_layers {
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}
	.call-to-work .call-to-work_layers .call-to-work__layers_left {
		padding-left: 0px;
	}
	.call-to-work .call-to-work_layers .call-to-work__layers_right {
		padding-right: 0px;
	}
	.call-to-work .call-to-work_layers h4 {
		font-size: 20px;
		line-height: 22px;
		margin-bottom: 16px;
	}
	.call-to-work .call-to-work_layers p {
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 16px;
	}
	.call-to-work .call-to-work_layers .call-to-work__checkbox {
		margin-bottom: 19px;
	}
	.call-to-work_layers form {
		width: 100%;
	}
	.call-to-work .call-to-work_layers .call-to-work__checkbox label {
		font-size: 11px;
	}
	.why-we__content p {
		width: 100%;
	}
}
@media (max-width: 9_91px) {
	.header__numbers-viber, .header__numbers{
		display: none;
	}
	.header .container > .row {
		justify-content: space-around;
		align-items: center;
	}
	.connection-for-yt .connection-for-yt__row {
		padding-top: inherit;
		padding-bottom: inherit;
	}
	.connection-for-yt .connection-for-yt__row > div img {
		padding-top: 2em;
	}
	.connection-for-yt .connection-for-yt__block-form .connection-for-yt_checkbox label {
		font-size: 13px;
	}
	.conditions__row {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.conditions__row h4 {
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 20px;
	}
	.conditions__row .conditions__items > a {
		margin-bottom: 13px;
	}
	.conditions__row ul li:first-child {
		font-size: 14px;
		line-height: 20px;
	}
	.conditions__row ul li:first-child , .conditions__row ul li:nth-child(2) {
		margin-bottom: 10px;
	}
	.conditions__row ul li:last-child {
		font-size: 11.5px;
		width: 100%;
	}
	.call-to-work .call-to-work_layers h4, .call-to-work .call-to-work_layers p, .call-to-work .call-to-work_layers .call-to-work__checkbox {
		margin-bottom: 10px;
	}
	.call-to-work_layers .form-control {
		font-size: 12px;
	}

	.call-to-work .call-to-work_layers p {
		font-size: 12px;
	}
	.call-to-work .call-to-work_layers .call-to-work__checkbox { 
		flex-direction: column;
	}
	.call-to-work .call-to-work_layers .call-to-work__checkbox label {
		text-align: center;
		font-size: 16px;
		line-height: 20px;
	}
	.why-we__content {
		padding-top: 40px;
		padding-bottom: 50px;
	}
	.why-we__content h4 {
		margin-bottom: 40px;
		font-size: 24px;
		line-height: 28px;
	}
	.why-we__content p {
		font-size: 16px;
		line-height: 16px;
	}
}
@media (max-width: 768px) {
	.header .container > .row {
		flex-direction: column;
	}
	.header .header__menu a {
		font-size: 17px;
	}
	.connection-for-yt .connection-for-yt__row > div img {
		padding-top: 1em;
	}
	.connection-for-yt .connection-for-yt__block-form .connection-for-yt__checkbox label {
		font-size: 11px;
	}
	.footer .container > .row {
		flex-direction: row;
		justify-content: space-around;
	}
	.footer .header__menu a, .footer .header__numbers-viber a  {
		font-size: 10px;
	}
	.footer .header__numbers-viber a i {
		font-size: 10px;
	}
	.conditions__row h4 {
		font-size: 20px;
		line-height: 30px;
	}
	.conditions__row .conditions__items > a img {
		width: 45%;
	}
	.conditions__row ul li:first-child {
		font-size: 17px;
	}
	.conditions__row ul li:first-child, .conditions__row ul li:nth-child(2), .conditions__row ul li:last-child {
		margin-bottom: 15px;
	}
	.conditions__row ul li:last-child {
		font-size: 13px;
		width: 100%;
	}
	.call-to-work_layers form {
		width: 75%;
	}
	.call-to-work .call-to-work_layers .call-to-work__checkbox label {
		font-size: 13px;
		line-height: 17px;
	}
	.why-we__content h4 {
		margin-bottom: 35px;
		font-size: 22px;
		line-height: 20px;
	}
	.why-we__content img {
		margin-bottom: 15px;
	}
	.why-we__content p {
		font-size: 11px;
		padding-bottom: 8px;
		margin: auto;
		width: 80%;
	}
}
@media (max-width: 575px) {
	.header .header__menu a {
		font-size: 13px;
	}
	.header .container > .row {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.connection-for-yt .connection-for-yt__block-form .connection-for-yt__checkbox label {
		font-size: 7px;
	}
	.footer .header__numbers-viber {
		display: none;
	}
	.footer .container > .row {
		flex-direction: column-reverse;
	}
	.call-to-work .call-to-work_layers h4 {
		font-size: 18px;
	}
	.call-to-work .call-to-work_layers p {
		font-size: 11px;
	}
	.call-to-work_layers form {
		width: 100%;
	}
	.call-to-work .call-to-work_layers .call-to-work__checkbox label {
		font-size: 9px;
	}
	.why-we__content {
		padding-bottom: 30px;
	}
	.why-we__content h4 {
		font-size: 25px;
		line-height: 32px;
	}
	.why-we__content img {
		width: 24%;
	}
	.why-we__content p {
		padding-bottom: 26px;
		font-size: 16px;
		margin: auto;
		line-height: 20px;
		width: 70%;
	}
}
@media (max-width: 425px) {
	.header .container > .row {
		padding-top: 17px;
		padding-bottom: 17px;
	}
	.connection-for-yt .connection-for-yt__row > div img {
		padding-top: 0em;
	}
	.connection-for-yt .connection-for-yt__block-form .connection-for-yt_zag {
		font-size: 30px;
		line-height: 32px;
		margin-bottom: 6px;
	}
	.connection-for-yt .connection-for-yt__block-form span {
		font-size: 23px;
	}
	.connection-for-yt .connection-for-yt__block-form {
		padding-top: 10px;
		padding-bottom: 20px;
	}
	.connection-for-yt .connection-for-yt__block-form p {
		font-size: 14px;
		line-height: 15px;
		margin-bottom: 17px;
	}
	.connection-for-yt_radio-rows input {
		width: 15%;
	}
	.connection-for-yt_radio-rows label {
		width: 85%;
	}
	.connection-for-yt .connection-for-yt__block-form .connection-for-yt_radio-rows label {
		font-size: 10px;
		line-height: 17px;
	}
	.connection-for-yt .connection-for-yt__block-form .connection-for-yt__checkbox {
		margin-bottom: 10px;
		flex-direction: column;
	}
	.connection-for-yt .connection-for-yt__block-form .connection-for-yt__checkbox label {
		font-size: 11px;
		text-align: center;
		line-height: 15px;
		padding-top: 1em;
	}
	.conditions__row h4 {
		font-size: 16px;
		line-height: 22px;
	}
	.call-to-work .call-to-work_layers {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.call-to-work .call-to-work_layers h4 {
		font-size: 16px;
		line-height: 20px;
	}
	.call-to-work_layers .form-control {
		font-size: 10px;
	}
	.call-to-work .call-to-work_layers .call-to-work__checkbox {
		flex-direction: column;
	}
	.call-to-work .call-to-work_layers .call-to-work__checkbox label {
		font-size: 13px;
		text-align: center;
		line-height: 18px;
	}
	.why-we__content {
		padding-bottom: 14px;
		padding-top: 30px;
	}
	.why-we__content h4 {
		font-size: 21px;
		line-height: 28px;
		margin-bottom: 25px;
	}
	.why-we__content p {
		font-size: 14px;
		width: 80%;
	}
}
@media (max-width: 375px) {
	.header .header__menu a {
		font-size: 11px;
	}
	.header .container > .row {
		padding-top: 14px;
		padding-bottom: 14px;
	}
	.connection-for-yt .connection-for-yt__block-form .connection-for-yt_zag {
		font-size: 25px;
		line-height: 25px;
	}
	.connection-for-yt .connection-for-yt__block-form span {
		font-size: 19px;
	}
	.connection-for-yt .connection-for-yt__block-form .form-group input {
		font-size: 14px;
	}
	.call-to-work .call-to-work_layers p {
		font-size: 10px;
	}
}
@media (max-width: 320px) {
	.header .header__menu a {
		font-size: 10px;
	}
	.connection-for-yt .connection-for-yt__block-form .form-group input {
		font-size: 10px;
	}
	.conditions__row h4 {
		font-size: 14px;
		line-height: 18px;
	}
	.why-we__content {
		padding-bottom: 8px;
		padding-top: 26px;
	}
	.why-we__content h4 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 17px;
	}
	.why-we__content p {
		font-size: 12px;
		padding-bottom: 18px;
		line-height: 17px;
		width: 73%;
	}
}
/* ----------------------------------------------------- */